<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <img loading="lazy" decoding="async" src="/assets/images/logo_dark.png" alt="logo" width="264"
                    height="78">
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Our Services</h2>
                    </li>
                    <li><a href="/dryer-vent-cleaning/">Dryer Vent Cleaning</a></li>
                    <li><a href="/dryer-vent-repair/">Dryer Vent Repair</a></li>
                    <li><a href="/dryer-hose-replacement/">Dryer Hose Replacement</a></li>
                </ul>
                <!-- <ul>
                    <li>
                        <h2>Service Areas</h2>
                    </li>
                    <li><a href="/dryer-vent-cleaning-cape-coral/">Cape Coral Cleaning</a></li>
                    <li><a href="/dryer-vent-cleaning-fort-myers/">Fort Myers Cleaning</a></li>
                    <li><a href="/dryer-vent-cleaning-naples/">Naples Cleaning</a></li>
                    <li><a href="/dryer-vent-cleaning-punta-gorda/">Punta Gorda Cleaning</a></li>
                    <li><a href="/dryer-vent-cleaning-lehigh-acres/">Lehigh Acres Cleaning</a></li>
                    <li><a href="/dryer-vent-cleaning-bonita-springs/">Bonita Springs Cleaning</a></li>
                    <li><a href="/dryer-vent-cleaning-estero/">Estero Cleaning</a></li>
                    <li><a href="/dryer-vent-cleaning-north-fort-myers/">North Fort Myers Cleaning</a></li>
                    <li><a href="/dryer-vent-repair-cape-coral/">Cape Coral Repair</a></li>
                    <li><a href="/dryer-vent-repair-fort-myers/">Fort Myers Repair</a></li>
                    <li><a href="/dryer-vent-repair-naples/">Naples Repair</a></li>
                    <li><a href="/dryer-vent-repair-punta-gorda/">Punta Gorda Repair</a></li>
                    <li><a href="/dryer-vent-repair-lehigh-acres/">Lehigh Acres Repair</a></li>
                    <li><a href="/dryer-vent-repair-bonita-springs/">Bonita Springs Repair</a></li>
                    <li><a href="/dryer-vent-repair-estero/">Estero Repair</a></li>
                    <li><a href="/dryer-vent-repair-north-fort-myers/">North Fort Myers Repair</a></li>
                    <li><a href="/dryer-hose-replacement-cape-coral/">Cape Coral Hose</a></li>
                    <li><a href="/dryer-hose-replacement-fort-myers/">Fort Myers Hose</a></li>
                    <li><a href="/dryer-hose-replacement-naples/">Naples Hose</a></li>
                    <li><a href="/dryer-hose-replacement-punta-gorda/">Punta Gorda Hose</a></li>
                    <li><a href="/dryer-hose-replacement-lehigh-acres/">Lehigh Acres Hose</a></li>
                    <li><a href="/dryer-hose-replacement-bonita-springs/">Bonita Springs Hose</a></li>
                    <li><a href="/dryer-hose-replacement-estero/">Estero Hose</a></li>
                    <li><a href="/dryer-hose-replacement-north-fort-myers/">North Fort Myers Hose</a></li>
                </ul> -->
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/search/?api=1&query=1832+NW+7th+Avenue+Cape+Coral+FL+33993">1832 NW 7th Avenue<br>Cape Coral, FL 33993</a>
                    </li>
                    
                    <li>
                        <a href="tel:2394240019">T: (239) 424-0019</a>
                    </li>
                    <li>
                        <a href="mailto:info@allaroundhomecare.net">Click to Email</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>